@model IEnumerable<Game.Domain.DomainModels.Participation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<!-- TODO: Add CreateTournament button (Create method in TournamentController) -->
<form asp-controller="Tournaments" asp-action="Create" method="post">
    <button class="btn btn-success">Create Tournament</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Athlete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Competition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateRegistered)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Athlete.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Competition.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Owner.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateRegistered)
                </td>
                <td>
                  <form asp-action="Delete" method="post" asp-route-id="@item.Id">
                      <button class="btn btn-danger">Delete</button>
                  </form>
                </td>
            </tr>
        }
    </tbody>
</table>
