@model BookApplication.Domain.DomainModels.Chapter

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Chapter</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Book)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Book.Author)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PageCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PageCount)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Summary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Summary)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DifficultyLevel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DifficultyLevel)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChapterNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChapterNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasExercises)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasExercises)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KeyConcept)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KeyConcept)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastUpdated)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
